* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* --------- FONT-FAMILY --------- */

body {
  font-family: 'Arial', sans-serif;
  background-color: #E3EAFD;
}

/* --------- NAVBAR --------- */

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #1D2F6F;
  border-color: #1D2F6F;
  align-items: center;
  color: white; 
}

.navbar-left {
  display: flex;
  margin: .5rem;
}

.title {
  display: none;
}

.titleAcronym {
  font-size: 4rem;
  padding-left: .5rem;
  margin: auto;
}

#logo {
  width: 5rem;
}

#hamburger-menu {
  width: 2rem;
  margin-right: 1rem;
  color: white;
}

#nav-links-container {
  display: none;
  font-size: 0.9rem;
}

/* --------- TEMPLATE --------- */

.templates {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5rem;
}

.templates header {
  display: flex;
  margin: 1rem 100%;
  font-size: larger;
}

.templates a {
  text-decoration: none;
  color: black;
}

.templates a:hover {
  color: #1D2F6F;
}

.templateContainer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  border: solid 1px black;
}

.templateCard {
  text-align: center;
  border: solid 1px black;
}

.templateIMG {
  width: 30rem;
}

/* --------- CHATBOT --------- */

.chatBot {
  display: flex;
  margin: 2em;
  background-color: #cccccc;
  border-radius: 20%;
  align-items: flex-end;
}

.chatBot header {
  justify-content: center;
}

/* --------- HOME PAGE --------- */

.container h1 {
  margin-bottom: 1rem;
}

.container h2 {
  margin-bottom: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  padding: 2rem;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 64rem;
  padding: 1rem;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  overflow: hidden;
  margin-top: 3rem;
  align-self: center;
}

.card-image {
  width: 100%;
  border-radius: 0.75rem;
}

.button {
  display: inline-block;
  padding: 1rem 3rem;
  background-color: #1D2F6F;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 0.75rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
  text-align: left;
  padding-left: 1rem;
}

.button:hover {
  background-color: #0056b3;
}

/* --------- FOOTER --------- */

footer {
  background-color: #f9e9ec;
  color: black;
  padding: 1rem;
  font-size: 0.9rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
  
footer a {
  text-decoration: none;
}
  
footer a:hover {
  text-decoration: underline;
}
  
.footer-content {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  gap: 1rem; 
}

@media (min-width: 598px) {
  .titleAcronym {
    display: none;
  }
  
  .title {
    display: inline;
    font-size: 2rem;
    padding: .5rem;
    margin: auto;
  }
}
  
@media (min-width: 768px) {
  .navbar-right {
    width: 10rem;
  }

  #hamburger-menu {
    display: none;
  }
  
  #nav-links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
  }
    
  #nav-links {
    justify-content: right;
    color: white;
    text-decoration: none;
    margin-right: 1rem;
  }
  
  #nav-links:hover {
    color: #f9e9ec;
    text-decoration: underline;
  }
}
  
@media (min-width: 992px) {
    
}
  
@media (min-width: 1200px) {
    
}
  