.navbar {
    display: flex;
    justify-content: left;
    background-color: #1D2F6F;
    align-items: center;
    color: white;
}

.logo {
  width: 5rem;
}

.navbar-center {
    margin-left: .5rem;
}

footer {
    background-color: #f9e9ec;
    color: black;
    padding: 1rem;
    font-size: 0.9rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
  
  footer a {
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  .footer-content {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    gap: 1rem; 
  }
