.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1D2F6F;
    color: white;
}

.navbar-left h1 {
    display: inline;
}

.navbar-center {
    display: inline;
    margin-left: 0;
    align-items: left;
}